/*.A{
    background-color: blanchedalmond;
}

#cv-form{
    /*display: none;
}*/

#cv-template{
    display: none;
}

.uimg{
    border-radius: 110px;
    width: 200px;
}

.background{
    background-color: aqua;
}
